<div class="home__inner">
    <div class="hero">

        <h1 class="hero__title">Chernousov</h1>
        <h2 class="hero__subtitle">frontend</h2>
        <span>junior</span>
        <p class="hero__text">Привет, я Денис Черноусов,<br>
            занимаюсь версткой, <br>
            фронтенд разработкой. <br>
            Учу новое, оттачиваю уже известное. <br>
            Приятного просмотра.</p>
        <a href="#portfolio">Вперед!</a>

        <p class="type-1"></p>

        <p class="time" id="clock">
            12:01
        </p>
    </div>
</div>
<section class="portfolio-box">
    <div class="container">
        <h4>Layout</h4>
        <div class="portfolio" id="portfolio">
            <div class="portfolio__item">
                <div class="portfolio__title">ПравоДело</div>
                <div class="portfolio__subtitle">сайт юридической компании</div>
                <div class="portfolio__text">Далеко-далеко за словесными, горами в стране гласных и согласных живут
                    рыбные тексты. Рот, использовало приставка но агентство безопасную бросил, однажды коварных, ты над
                    мир щеке ее пустился великий. Коварный пунктуация города его.</div>
                <div class="portfolio__btn">
                    <a href="https://pravodelo22.ru" class="portfolio__link">перейти</a>
                </div>
            </div>


            <div class="portfolio__item">
                <div class="portfolio__title">StarKosh</div>
                <div class="portfolio__subtitle">сайт питомника элитных кошек</div>
                <div class="portfolio__text">Далеко-далеко за словесными, горами в стране гласных и согласных живут
                    рыбные тексты. Рот, использовало приставка но агентство безопасную бросил, однажды коварных, ты
                    над
                    мир щеке ее пустился великий. Коварный пунктуация города его.</div>
                <div class="portfolio__btn">
                    <a href="https://starkosh.ru" class="portfolio__link">перейти</a>
                </div>
            </div>



            <div class="portfolio__item">
                <div class="portfolio__title">Yagodkin</div>
                <div class="portfolio__subtitle">сайт портфолио фотографа из Питера</div>
                <div class="portfolio__text">Далеко-далеко за словесными, горами в стране гласных и согласных
                    живут
                    рыбные тексты. Рот, использовало приставка но агентство безопасную бросил, однажды коварных,
                    ты над
                    мир щеке ее пустился великий. Коварный пунктуация города его.</div>
                <div class="portfolio__btn">
                    <a href="https://yagodkin13.ru" class="portfolio__link">перейти</a>
                </div>
            </div>

            <div class="portfolio__item">
                <div class="portfolio__title">Лалетик</div>
                <div class="portfolio__subtitle">сайт для детского модельного агенства</div>
                <div class="portfolio__text">Далеко-далеко за словесными, горами в стране гласных и согласных
                    живут
                    рыбные тексты. Рот, использовало приставка но агентство безопасную бросил, однажды коварных,
                    ты над
                    мир щеке ее пустился великий. Коварный пунктуация города его.</div>
                <div class="portfolio__btn">
                    <a href="https://laletik.ru/" class="portfolio__link">перейти</a>
                </div>
            </div>

            <div class="portfolio__item">
                <div class="portfolio__title">livemyvilla</div>
                <div class="portfolio__subtitle">сайт для агенства по продаже вилл в Тайланде</div>
                <div class="portfolio__text">Далеко-далеко за словесными, горами в стране гласных и согласных
                    живут
                    рыбные тексты. Рот, использовало приставка но агентство безопасную бросил, однажды коварных,
                    ты над
                    мир щеке ее пустился великий. Коварный пунктуация города его.</div>
                <div class="portfolio__btn">
                    <a href="https://livemyvilla.com" class="portfolio__link">перейти</a>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__title">livemyvilla</div>
                <div class="portfolio__subtitle">сайт для агенства по продаже вилл в Тайланде</div>
                <div class="portfolio__text">Далеко-далеко за словесными, горами в стране гласных и согласных
                    живут
                    рыбные тексты. Рот, использовало приставка но агентство безопасную бросил, однажды коварных,
                    ты над
                    мир щеке ее пустился великий. Коварный пунктуация города его.</div>
                <div class="portfolio__btn">
                    <a href="https://livemyvilla.com" class="portfolio__link">перейти</a>
                </div>
            </div>
        </div>
</section>

<section class="my-script">

    <div class="container">
        <h4>Scripts</h4>
        <div class="portfolio" id="my-script">
            <div class="portfolio__item">
                <div class="portfolio__title">ПравоДело</div>
                <div class="portfolio__subtitle">сайт юридической компании</div>
                <div class="portfolio__text">Далеко-далеко за словесными, горами в стране гласных и согласных живут
                    рыбные тексты. Рот, использовало приставка но агентство безопасную бросил, однажды коварных, ты над
                    мир щеке ее пустился великий. Коварный пунктуация города его.</div>
                <div class="portfolio__btn">
                    <a href="https://pravodelo22.ru" class="portfolio__link">перейти</a>
                </div>
            </div>


            <div class="portfolio__item">
                <div class="portfolio__title">StarKosh</div>
                <div class="portfolio__subtitle">сайт питомника элитных кошек</div>
                <div class="portfolio__text">Далеко-далеко за словесными, горами в стране гласных и согласных живут
                    рыбные тексты. Рот, использовало приставка но агентство безопасную бросил, однажды коварных, ты
                    над
                    мир щеке ее пустился великий. Коварный пунктуация города его.</div>
                <div class="portfolio__btn">
                    <a href="https://starkosh.ru" class="portfolio__link">перейти</a>
                </div>
            </div>



            <div class="portfolio__item">
                <div class="portfolio__title">Yagodkin</div>
                <div class="portfolio__subtitle">сайт портфолио фотографа из Питера</div>
                <div class="portfolio__text">Далеко-далеко за словесными, горами в стране гласных и согласных
                    живут
                    рыбные тексты. Рот, использовало приставка но агентство безопасную бросил, однажды коварных,
                    ты над
                    мир щеке ее пустился великий. Коварный пунктуация города его.</div>
                <div class="portfolio__btn">
                    <a href="https://yagodkin13.ru" class="portfolio__link">перейти</a>
                </div>
            </div>
        </div>
    </div>

</section>